{% extends 'base.html' %}
{% block loader %}{% include 'loader.html' %} {% endblock loader %}
{% block header %}{% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %}{% endblock banner %}

{% block content %}
      
<div class="container mt-5 mb-5">
  <h1 class="text-center text-capitalize mb-5 title">login here</h1>
  <div class="row signup">
    <form action="{% url 'signin' %}" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">username</label>
        <input name="username" type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3 pass" >
        <label for="exampleFormControlInput1" class="form-label">password</label>
        <input name="password" type="password" class="form-control input" id="exampleFormControlInput1" placeholder="enter your password">
        <div class="see">
          <i class="bi bi-eye-fill"></i>
          <i class="bi bi-eye-slash-fill"></i>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-warning">login</button>
      </div> 
      <p>Don"t have an account? <span><a href="{% url 'signup' %}">Signup here</a></span></p>
    </form>
  </div>
</div>
{% endblock content %}

{% block footer %}{% include 'footer.html' %}{% endblock footer %}
  
    
   